/* You can add global styles to this file, and also import other style files */
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0;
}

.button:hover {
  background-color: #0056b3;
}

.linea {
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 20px 0;
}